<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>网站首页</title>
  <link rel="stylesheet" type="text/css" href="/lib/layui/css/layui.css">
  <script type="text/javascript" src="/lib/layui/layui.js"></script>
</head>
<body>
  <div class="layui-container">
  <div class="layui-row" style="margin-top: 80px;">
    <form class="layui-form" action="" method="post">
    	<div class="layui-form-item">
		    <label class="layui-form-label">标题：</label>
		    <div class="layui-input-block">
		      <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
		    </div>
		</div>
		<div class="layui-form-item">
		    <label class="layui-form-label">内容：</label>
		    <div class="layui-input-block">
		      <input type="text" name="coutent" required  lay-verify="required" placeholder="请输入内容" autocomplete="off" class="layui-input">
		    </div>
		</div>
		<div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn " lay-submit lay-filter="*">立即提交</button>
		    </div>
		</div>
    </form>
  </div>
</div>  
<script type="text/javascript">
  layui.use(['jquery', 'form'], function(){
    var $ = layui.$ //重点处
    ,layer = layui.layer;
    var form = layui.form;
    form.on('submit(*)', function(data){
      console.log(data.field) //被执行事件的元素DOM对象，一般为button对象
      $.post('/plug-in/MongoApi.php?pram=add',`title=${data.field.title}&coutent=${data.field.coutent}`,function(res){
        if(res.code == 0){
          layer.open({
            content: '添加成功',
            yes: function(index, layero){
              var index = parent.layer.getFrameIndex(window.name);
              parent.layer.close(index); //再执行关闭  
              parent.location.reload();
            }
          });        
        }else{
           layer.open({
            content: '添加失败',
            yes: function(index, layero){
              var index = parent.layer.getFrameIndex(window.name);
              parent.layer.close(index); //再执行关闭  
            }
          }); 
        }
      },'json');
      return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
     
    });
  });

  
</script>
</body>
</html>